* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    width: 100vw;
    height: 20vh;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
}
.flex-container div {
    border: 2px solid black;
    background-color: aqua;
}

.flex-child1 {
    flex: 2 1 200px;
}

.flex-child2 {
    flex: 1 2 100px;
}

.flex-child3 {
    flex: 3 0 auto;
}